# Get a free Cesium Ion token at https://ion.cesium.com
VITE_CESIUM_ION_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI3MmI1ZWJkMC01NDZjLTQ0NmQtYWZkYi0xOWM2NjlhNDgwYTAiLCJpZCI6Mzk1NjM3LCJpYXQiOjE3NzIyNDAwMTd9.QVijOnyMAaiYuYzwmBWAb6LPswywUkV3X573aXbeUXI
